html
{
    font-family: Arial;
}

*,*:after,*:before
{
    box-sizing: inherit;
}

body
{
    margin: 0%;
    background-color:#edf2c5;
}

.bg
{
    width: 1280px;
    height: 800px;
    max-width: 940px;
    margin-right:auto;
    margin-left:auto;
}

/* first */
.titlebox
{
    display: flex;
    width: 940px;
    justify-content: space-between;
}

.TitleBut
{
    margin-top: 10px;
}

.ImgBut
{
    margin-left: 10px;
}
.media
{
    display: flex;
    align-items: center;
}

.LoginAndJoin
{
    display: flex;
}

.LoginAndJoinW
{
    color: #778a50;
    padding: 5px 5px;
    border: solid 2px #778a50;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

.Bigtitle
{
    font-size: 44px;
    color:#778a50;
    margin: 0px;
    font-weight: 900;
    align-items: baseline;
}

.bar
{
    width: 3px;
    height: 25px;
    background-color: #778a50;
    margin-left: 10px;
    margin-top: 5px;
}
/* second */
.secbox
{
    width: 940px;
    display: flex;
    background-color: #778a50;
    border-radius: 5px;
    margin-bottom: 10px;
}

.secbox p
{
    color: #edf2c5;
    margin-left: 60px;
    font-weight: 900;
}
/* three */
.three
{
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.threeW
{
    font-size: 17px;
    font-weight: 900;
    background-color: #778a50;
    color: #edf2c5;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 10px;
    width: 420px;
    height: 30px;
    margin-right: 80px;
}

.Threepic
{
    margin-right: 0;
}

.toparticle
{

    font-size: 12px;
    background-color: #f7fbda;
    color: #7d7d7d;
    width: 410px;
    padding: 10px 10px 10px 10px ;
}
/* footer */

footer
{
    background-color: #778a50;
    color: #edf2c5;
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}